
.project-board-container{
    margin: 30px 40px;
}
.pb-flex1{
    margin-top: 20px;
    margin-left:10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.pb-grid{
    display: grid;
    grid-template-columns: 800px 800px;
    margin-top: 30px;
    /* gap:30px; */
}

.pb-items input{
    width: 600px;
    border: none;
    border-bottom: 1px solid #777778;

    background-color:  #F7F8FA;
    height: 52px;
}

.pb-items label{
    display: block;
    padding: 5px;
}

.pb-items select{
    width: 600px;
    border: none;
    border-bottom: 1px solid #777778;

    background-color:  #F7F8FA;
    height: 52px;
}


.filter-grid{
   display: grid;
   margin-top: 20px;
   grid-template-columns: 300px 300px;
}

.filter-items label{
    padding: 5px;
}

.grid-4{
    display: grid;
    margin-top: 20px;
    gap: 10px;
    grid-template-columns: repeat(4,350px);
}

.filter-items select{
    height: 65px;
}

.pb-todo h1{
    font-size: 14px;
}

.pb-dev h1{
    font-size: 14px;
}

.pb-test h1{
    font-size: 14px;
}
.pb-comp h1{
    font-size: 14px;
}